
			  <%= devise_error_messages! %>

			  <div class="field">
			  <%= f.label :email %><br />
			  <%= f.email_field :email %>
			  </div>
			  <div class="field">			
			  <%= f.label :current_password %> <br />
			  <%= f.password_field :current_password %>
			  </div>

			  <div class="field">
			  <%= f.label :password %> <br />
			  <%= f.password_field :password %>
			  </div>

			  <div class="field">
			  <%= f.label :password_confirmation %><br />
			  <%= f.password_field :password_confirmation %>
			  </div>

