<% @today_list %>
<h3><%= date.today.to_s %></h3>

<%= form_for (current_user.lists.new) do |f| %>
<div><%= f.hidden_field :user_id %></div>

	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :name, :maxlength => 140 %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>

